.drop-zone {
    -fx-border-color: -info-border;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -info-bg;
}

/* Highlight on drag over */
.drop-zone-highlight {
    -fx-border-color: -highlight-border;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -highlight-border;
    -fx-text-fill: -highlight-text;
}
.drop-zone-hint {
    -fx-font-size: 18;
    -fx-text-fill: -info-text;
}

.drop-zone-or {
    -fx-font-size: 14;
    -fx-text-fill: -info-text;
}
.browse-button {
    -fx-font-size: 14;
    -fx-text-fill: -info-text;
    -fx-border-color: -info-text;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.browse-button:hover {
    -fx-text-fill: -info-text;
    -fx-border-color: -info-text;
    -fx-background-color: -info-border;
}
