.search-row {
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-max-width: 600;
    -fx-min-width: 600;
}

.search-bar,
.search-button,
.search-clear-button {
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-max-height: 30;
}

.search-bar {
    -fx-background-color: -surface;
    -fx-padding: 2 18 2 18;
    -fx-alignment: center-left;
    -fx-border-color: -border;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.search-bar:focused {
    -fx-border-color: -primary-dark;
}
.search-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: -text-primary;
    -fx-prompt-text-fill: -text-secondary;
}

.search-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.search-button,
.search-clear-button {
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 0 22 0 22;
    -fx-cursor: hand;
}
.search-button {
    -fx-background-color: black;
    -fx-text-fill: -surface;
}

.search-button:hover {
    -fx-background-color: -primary-dark;
}

.search-clear-button:hover {
    -fx-background-color:  -info-border;
}

.search-clear-button {
    -fx-background-color: -primary-dark;
}

.search-clear-icon {
    -fx-icon-size: 14;
    -fx-icon-color: -surface;
}

.search-icon {
    -fx-icon-size: 16;
    -fx-icon-color: -text-secondary;
}

.search-metadata {
    -fx-padding: 10 0 0 10;
    -fx-text-fill: -text-muted;
    -fx-font-size: 12;
}
